@media (min-width: 1200px) {
    body {
        margin: 0;
    }
    header {
        background-image: url(fotos/cabecera.jpg);
        background-size: cover;
        height: 180px;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: rgb(165, 141, 255);
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 30px;
    }
    #libro {
        border-radius: 100px;
        width: 85px;
        position: relative;
        top: 75px;
        left: 30px;
    }
    ul {
        background-color:white;
        height: 60px;
    }
    li {
        display: inline;
        padding-right: 20px;
    }

    aside {
        width: 25vw;
        margin: 20px;
    }
    a {
        color: white;
        text-decoration: none;
    }
    .boton {
        width: 80%;
        text-align: center;
        padding: 10px;
        border-radius: 30px;
        margin: 5px;
    }
    #boton1 {
        background-color:rgb(0, 42, 255);
    }
    #boton2 {
        background-color:rgb(241, 243, 255);
        color:rgb(0, 42, 255);
        border: 1px solid gainsboro;
    }
    table {
        width: 100%;
    }
    .derecha {
        text-align: right;
    }
    main {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }

    section {
        width: 75vw;
        padding: 10px;
    }
    h1 {
        font-size: small;
    }
    hr {
        border-color: gainsboro;
    }
    #galeria {
        display: flex;
        flex-direction: column;
    }
    #filas {
        display: flex;
        justify-content: space-between;
    }
    #filas > img {
        width: 24%;
        border-radius: 5px;
        margin: 5px;
    }
}

@media (min-width: 576px) {

}
@media (min-width: 768px) {...}
@media (min-width: 992px) {...}