header {
    background-color: #00175e;
    width: 100%;
    height: 70px;
    position: fixed;
    text-align: center;
    color: aliceblue;
}
main img {
    max-width: 100%;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}
body {
    margin: 0%;
}
h1{
  font-size: 50pt;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}
h2{
    font-size: 20pt;
    font-size: 20pt;
    font-family:sans-serif;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
}
nav img {
    width: 3%;
    display: inline; 
    padding: 10px;
}
nav {
    text-align: center;
    padding: 30px;
}
.enlace_ana {
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
    text-decoration: none;
    padding-top: 30px;
}
time {
    font-size: 10pt;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
    text-align: center;
}
.siguientes img {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    max-width: 100%;  
    height: auto;
}
.final img {
    display: block; 
    width: 600px;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
.enlaces {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-bottom:1px dotted #9999CC;
    text-decoration:none;
    color: black;
}
a:hover {
    position: relative;
    left: 2%;
}
.principal:first-letter{
    font-size:500%;
    float:left;
    color:black;
    font-weight: bold;
  }
.principal, .siguientes, .final > p, h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    display: block; 
    font-size: 20px;
    margin-left: 30%;
    margin-right: 30%;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: strong;
}
footer {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: small;
    background-color: gray;
    text-align: center;
    margin: 10% 30% 10% 30%;
}